@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    width: 100%;
}
.calculator {
    background: transparent;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 3px 15px rgba(113, 115, 119, 0.5);
    border: 1px solid #717377;
}
input {
    width: 100%;
    text-align: right;
    font-size: 40px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    cursor: pointer;
    box-shadow: 0 3px 15px rgba(84, 84, 84, 0.1);
    color: white;
}
.buttons button {
    width: 22%;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.buttons button:hover {
    background: #333;
}
.buttons .action {
    color: #32cd32;
}
.buttons .equals {
    background: #ff9500;
    color: white;
}